{% extends 'base.html.twig' %}

{% block title %}CompteurConge index{% endblock %}

{% block body %}
    <h1>CompteurConge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compteur_conge in compteur_conges %}
            <tr>
                <td>{{ compteur_conge.id }}</td>
                <td>
                    <a href="{{ path('compteur_conge_show', {'id': compteur_conge.id}) }}">show</a>
                    <a href="{{ path('compteur_conge_edit', {'id': compteur_conge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('compteur_conge_new') }}">Create new</a>
{% endblock %}
